@using LunarAPIClient.NotificationClient
@using System.IO
@attribute [Authorize]

@inject IAccessTokenProvider accessTokenProvider
@inject StateContainer state
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IUserClient userClient
@inject ILogEntryClient logEntryClient
@inject IHubConnectionFactory hubConnectionFactory
@inject ICommandClient commandClient
@inject Mission CurrentMission
@inject Attachments Attachments

@implements IAsyncDisposable

<div style="width:100%;height:100%;display: flex;flex-direction: column;">
    <div style="overflow: auto;flex-grow:1">
        <FluentTabs>
            @foreach (var log in CurrentMission.Logs)
            {
                <FluentTab>@log.Name</FluentTab>
                <FluentTabPanel><LogView CurrentLog=@log /></FluentTabPanel>
            }
        </FluentTabs>
    </div>
    <div style="width: 100%;overflow: hidden;flex-shrink: 0;padding:2px;">
        <CreateLogEntryView CurrentMission=CurrentMission />
    </div>
</div>

@code {
    [Parameter, EditorRequired]
    public Guid MissionID { get; set; } = Guid.Empty;
    
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            hubConnection = await hubConnectionFactory.ConnectHub(
                accessTokenProvider,
                hub =>
                {
                    hub.On<LogEntry>(NotificationCommands.NewLogEntry, logEntry =>
                    {
                        CurrentMission.AddLogEntry(logEntry);
                        StateHasChanged();
                    });

                    hub.On<LogEntry>(NotificationCommands.UpdateLogEntry, logEntry =>
                    {
                        CurrentMission.UpdateLogEntry(logEntry);
                        StateHasChanged();
                    });

                    hub.On<LogEntryAttachmentUploadComplete>(NotificationCommands.LogEntryAttachmentUploadComplete, async uploadProgress =>
                    {
                        var src = new CancellationTokenSource();
                        await Attachments.UpdateLogEntryProgress(uploadProgress, logEntryClient, src.Token);
                        StateHasChanged();
                    });
                });

            StateHasChanged();
            var src = new CancellationTokenSource();

            state.UpdateUser(await userClient.Me(src.Token));

            await LoadLogEntries();

            StateHasChanged();
        }

        await base.OnAfterRenderAsync(firstRender);
    }

    private async Task WaitOnTasks(IEnumerable<Task> tasks)
    {
        var currentTasks = tasks.ToList();
        while (currentTasks.Any())
        {
            Task finishedTask = await Task.WhenAny(tasks);
            currentTasks.Remove(finishedTask);
            StateHasChanged();
        }
    }
    private async Task LoadLogEntries()
    {
        var src = new CancellationTokenSource();

        try
        {
            var entries = (await logEntryClient.GetLogEntriesByMissionId(MissionID, src.Token)).OrderByDescending(e => e.LoggedAt);

            CurrentMission.AddLogEntries(entries);
            StateHasChanged();

            foreach (var entry in entries)
            {
                foreach (var attachment in entry.Attachments)
                {
                    if (Attachments.Get(attachment.Id) != null)
                        continue;

                    await Attachments.AddAttachment(logEntryClient, MissionID, entry.Id, attachment.Id, src.Token);

                    StateHasChanged();
                }
            }
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
    }

    private HubConnection? hubConnection;

    public async ValueTask DisposeAsync()
    {
        if (hubConnection is not null)
        {
            await hubConnection.DisposeAsync();
        }
    }
}
