@page "/about"

<div class="login-content">
    <div class="container">
        <img src="img/relaunch.svg" alt="Logo" style="width:20%;">
        <h2><b>About</b></h2>

        <p>Lunar C&C (Command and Control) is a real-time collaboration application designed specifically for use on extra-planetary missions</p>
        <a href="https://2021.spaceappschallenge.org/challenges/statements/lunar-surface-operations-real-time-collaboration/details" target="_blank">Challenge Page</a><br>
        <a href="https://github.com/evandigby/lunar-cmd" target="_blank">GitHub repo</a><br>

        <div>
            <h3><b>Technologies Used</b></h3><br>

            <ul style="list-style-type:none">
                <li><a href="https://docs.microsoft.com/en-us/azure/azure-functions/functions-overview" target="_blank">Azure Functions App Service (Hosting, back-end services, and event sink)</a></li>
                <li><a href="https://dotnet.microsoft.com/apps/aspnet/signalr" target="_blank">SignalR (Real time notification)</a></li>
                <li><a href="https://dotnet.microsoft.com/apps/aspnet/web-apps/blazor" target="_blank">.NET Core Blazor WebAssembly (User Interface)</a></li>
                <li><a href="https://dotnet.microsoft.com/download/dotnet/6.0" target="_blank">.NET 6.0 (Preview)</a></li>
                <li><a href="https://blazority.com/" target="_blank">Blazority (User Interface)</a></li>
                <li><a href="https://docs.microsoft.com/en-us/azure/cosmos-db/introduction" target="_blank">Cosmos DB (Data Storage)</a></li>
                <li><a href="https://azure.microsoft.com/en-in/services/active-directory/#overview" target="_blank">Azure Active Directory (User Authentication)</a></li>
                <li><a href="https://azure.microsoft.com/en-in/services/storage/blobs/" target="_blank">Azure Blob Storage (Storing File Attachments)</a></li>
                <li><a href="https://azure.microsoft.com/en-in/services/cognitive-services/" target="_blank">Microsoft Cognitive Services (Speech to Text)</a></li>
            </ul>
        </div>
        <span></span>
        <div>
            <h3><b>Suggested alterations for on-premise configuration</b></h3><br>

            <ul style="list-style-type:none">
                <li>Windows Server or Linux (Hosting, back-end services)</li>
                <li>Apache Kafka (Event sink)</li>
                <li>PostgreSQL or Mongo DB (Data Storage)</li>
                <li>Active Directory (User Authentication)</li>
                <li>RAID Network Attached File System (Storing File Attachments)</li>
                <li>All other services remain the same in on-premise configuration.</li>
            </ul>
        </div>
    </div>
</div>