@page "/about"

<div class="login-content">
    <div class="container">
        <img src="img/relaunch.svg" alt="Logo" style="width:20%;">
        <h2><b>About</b></h2>

        <p>Lunar C&C (Command and Control) is a real-time collaboration application designed specifically for use on extra-planetary missions</p>
        <a href="https://2021.spaceappschallenge.org/challenges/statements/lunar-surface-operations-real-time-collaboration/details" target="_blank">Challenge Page</a><br>
        <a href="https://github.com/evandigby/lunar-cmd" target="_blank">GitHub repo</a><br>

        <div>
            <h3><b>Technologies Used</b></h3><br>

            <ul style="list-style-type:none">
                <li>Azure Functions App Service (Hosting, back-end services, and event sink)</li>
                <li>SignalR (Real time notification)</li>
                <li>.NET Core Blazor WebAssembly (User Interface)</li>
                <li>.NET 6.0 (Preview)</li>
                <li>Blazority (User Interface)</li>
                <li>Cosmos DB (Data Storage)</li>
                <li>Azure Active Directory (User Authentication)</li>
                <li>Azure Blob Storage (Storing File Attachments)</li>
                <li>Microsoft Cognitive Services (Speech to Text)</li>
            </ul>
        </div>
        <span></span>
        <div>
            <h3><b>Suggested alterations for on-premise configuration</b></h3><br>

            <ul style="list-style-type:none">
                <li>Windows Server or Linux (Hosting, back-end services)</li>
                <li>Apache Kafka (Event sink)</li>
                <li>PostgreSQL or Mongo DB (Data Storage)</li>
                <li>Active Directory (User Authentication)</li>
                <li>RAID Network Attached File System (Storing File Attachments)</li>
                <li>All other services remain the same in on-premise configuration.</li>
            </ul>
        </div>
    </div>
</div>