@page "/"
@inject HttpClient client

<AuthorizeView>
    <Authorized>
        <Client.Components.Console.Console />
    </Authorized>
    <NotAuthorized>
        <a href="authentication/login">Log in</a>
    </NotAuthorized>
</AuthorizeView>

@code {
    public string BaseAddress => client.BaseAddress.ToString();
}