@page "/"

<AuthorizeView>
    <Authorized>
        Welcome to the homepage.
    </Authorized>
    <NotAuthorized>
        <a href="authentication/login">Log in</a>
    </NotAuthorized>
</AuthorizeView>
