@page "/"
@using Client.Components.Mission

<AuthorizeView>
    <Authorized>
        <MissionView />
    </Authorized>
    <NotAuthorized>
        <a href="authentication/login">Log in</a>
    </NotAuthorized>
</AuthorizeView>
