@inject Mission mission
@inject ILogEntryClient logEntryClient
@inject Attachments Attachments

<div style="flex-grow:0;flex-shrink:0;padding:2px;">
    @if (attachmentData == null)
    {
        <FluentSkeleton style="width:100px;height:100px" />
    }
    else
    {
        @if (attachmentData.DataURI.StartsWith("data:image/"))
        {
            @*<span><i class="ms-Icon ms-Icon--FileImage" @onclick=OnClick></i></span>*@
            <img class="ms-Icon ms-Icon--FileImage" src=@attachmentData.DataURI style="max-width:5vw;max-height:5vh" @onclick=OnClick />

            @if (ShowFullSize)
            {
                <FluentDialog style="text-align:center;vertical-align:middle" @onclick=OnClick>
                    <img sytle="object-fit:contain;" src=@attachmentData.DataURI @onclick=OnClick />
                </FluentDialog>
            }
    }
        else if (attachmentData.DataURI.StartsWith("data:audio/"))
        {
            <span><i class="ms-Icon ms-Icon--MusicInCollectionFill" style="max-width:5vw;max-height:5vh" @onclick=OnClick></i></span>
            @if (ShowFullSize)
            {
                <div>&lt;Audio Transcript&gt;</div>
                <FluentDialog @onclick=OnClick>
                    <audio controls src=@attachmentData.DataURI></audio>
                </FluentDialog>
            }
        }
        else
        {
            <span><i class="ms-Icon ms-Icon--SurveyQuestions" style="max-width:5vw;max-height:5vh" @onclick=OnClick></i></span>
            @if (ShowFullSize)
            {
                <FluentDialog @onclick=OnClick>
                    <div><h3>Invalid attachment type</h3></div>
                </FluentDialog>
            }            
        }
    }
</div>

@code {
    [Parameter, EditorRequired]
    public LogEntryAttachment Attachment { get; set; } = new LogEntryAttachment();

    private LogEntryAttachmentData? attachmentData => Attachments.Get(Attachment.Id);

    public bool ShowFullSize { get; set; }

    private void OnClick(MouseEventArgs e)
    {
        ShowFullSize = !ShowFullSize;
    }
}
